@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  //------BACKGROUNDS------//
  --primary: #fff;
  --secondary: #f4f4f4;
  --tertiary: #ff4000;
  --primary-opposite: #000;

  //------SPECIFIC BACKGROUNDS------//
  --translucent: #ffffffea;

  //------TEXT------//
  --primary-text: #ff4000;
  --secondary-text: #000;
  --tertiary-text: #fff;
  --primary-opposite-text: #acacac;

  //------BORDERS------//
  --primary-border: 1px dashed #ebebeb;

  //------MISC------//
  --filter: blur(24px) saturate(1);
  --links: #33b4ff;
}

@media (prefers-color-scheme: dark) {
  :root {
    //------BACKGROUNDS------//
    --primary: #000;
    --secondary: #121212;
    --primary-opposite: #fff;
  
    //------SPECIFIC BACKGROUNDS------//
    --translucent: #000000ea;
  
    //------TEXT------//
    --secondary-text: #fff;
    --tertiary-text: #000;
    --primary-opposite-text: #555555;
  
    //------BORDERS------//
    --primary-border: 1px dashed #282828;
  
    //------MISC------//
    --links: #33b4ff;
    }
}

body {
  background: var(--primary);
  min-height: 100vh;
}

//-----TEXT ELEMENTS------//
h1,h2,h3,h4{
  line-height: 1.1em;
  color: var(--primary-text);
  font-weight: 400;
}
h1{
  font-size: 3.5em;
}
h2{
  font-size: 2.5em;
}
h3{
  font-size: 1.75em;
}
h4{
  font-size: 1.25em;
}
p{
  color: var(--secondary-text);
  max-width: 600px;
  margin: 1em 0;
}
a{
  color: var(--links);

  &:hover{
    text-decoration: 1px underline var(--links);
  }
}
a{
  h3{
    color: unset;
  }
}
header{
  a{
    .logo{
      display: flex;
      gap: 4px;
      align-items: center;
      font-size: 1.8em;
    }
  
    &:hover{
      text-decoration: none;
    }
  }
}

//------HEADER------//
header{
  position: sticky;
  top: 0;
  z-index: 150;
  padding: 10px 20px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  background: var(--tertiary);

  .logo{
    display: flex;
    gap: 4px;
    align-items: center;
    color: #fff;
    font-size: 1.8em;
  }

  svg{
    stroke: #fff;
  }
}

//------FOOTER------//
footer.global-footer{
  padding: 50px calc(50vw - min(1280px, 87.5vw)/2);
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: var(--secondary);

  .logo{
    display: flex;
    gap: 4px;
    align-items: center;
    color: var(--secondary-text);
    font-size: 1.8em;
  }
}

//------NAV------//
nav.global-nav{
  position: sticky;
  top: 63.19px;
  border-bottom: var(--primary-border);
  background: var(--primary);
  padding: 20px;

  &[aria-expanded="false"]{
    display: none;
  }
  &[aria-expanded="true"]{
    display: block;
  }

  ul.global-nav-list{
    display: flex;
    gap: 14px;
    flex-wrap: wrap;

    li.nav-list-item{
      width: fit-content;
    }
  }
}

//------CONTENT------//
section{
  padding: 75px calc(50vw - min(1280px, 87.5vw)/2);
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-bottom: var(--primary-border);
}

//------HOME------//
section.skills{
  .skills-group{
    ul{
      list-style-type:circle;
      padding-inline-start: 30px;

      li::marker{
        color: var(--secondary-text);
      }
    }
  }
}

section.projects{

  .project-snippets{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;

    .project-img-container{
      position: relative;
      width: 100%;
      aspect-ratio: 14/10; 
    }
  }
}

section.project-repository{
  li{
    margin: 1em 0;
  }

  ul.language-list{
    padding-inline-start: 20px;
    li{
      list-style-type: decimal;

      &::marker{
        color: var(--primary-text);
      }
    }
  }
}

section.repo-search{
  .search-wrapper{
    display: flex;
    align-items: center;
    gap: 10px;
    border: var(--primary-border);
    width: fit-content;
    padding: 10px 20px;

    input{
      color: var(--secondary-text);
      background: transparent;


      &:focus{
        outline: none;
      }
    }

    svg{
      stroke: var(--primary-text);
    }
  }
}

section.socials{
  ul{
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
}

//------MEDIA QUERIES------//
@media screen and (max-width: 768px) {
  section{
    padding: 50px calc(50vw - min(1280px, 87.5vw)/2);
  }

  section.projects{
    .project-snippets{
      display: flex;
      flex-direction: column;
    }
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
